body{
    margin:0px
}
.header{
    display: flex;
}
.navbar{
    display: flex;
    background-color: white;
    /* padding: 10px; */
    flex-direction: row;
}

.logo{
    display: flex;
    border-radius: 50%;
    background-color: #094B72;
    justify-content: center;
    height: 30px;
    width: 30px;
    align-items: center;
    margin-top: 1%;
    margin-left: 5%;
}

.textLogo{
    color: white;
}

.nameLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    color: #094B72;
    font-weight: 600;
}

.right-navbar{
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style-type: none;
    padding-left: 33%;
}

.searchIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
}
.body{
    display: flex;
    flex: 1;
    /* background-color: aqua; */
    margin: 5% 0 5% 0;

}
.sectionHero{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0 0 0 10%;
}
.group-41{
    max-width: 434px;
    max-height: 40px;
    background-color: #E7F6FF;
    padding: 10px;
    border-radius: 26.5px;

}
.group-40{
    width: 86px;
    height: 28px;
    padding: 6px 16px 6px 16px;
    border-radius: 26.5px;
    background-color: #094B72;
}
.textNew{
    color: white;
}
.hero-title{
    max-width: 100%;
    max-height: 100%;

    word-wrap: break-word;
    hyphens: auto;
    z-index: 1;
}
.textTitle{
    color: #094B72;
    font-weight: 700;
    font-size: 80px;
    line-height: 108px;
}
.button-get-start {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #094B72;
    border-radius: 8px;
    width: 30%;
    height: 20%;
    padding: 10px;
    box-sizing: border-box; 
}

.group-26{
    margin: 5%;
    z-index: 1;
}

.group-25{
    display: grid;
    width: 238px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);    
    row-gap: 30%;
    column-gap: 10%;
    padding: 20px 10px 0px 0px;
}

.group-25 item{
    display: flex;
    flex-direction: row;
    width: 10px;
}

.heroImage{
    padding-top: 50px;
    position: relative;
}
.imgHero{
    position: relative;
    z-index: 1;
    top: 10%;
    /* left: 10%; */
    right: 20%;

}


.circle-1,
.circle-2 {
    position: absolute;
    border-radius: 50%;
    top: 20%;
    left: 0%;
    bottom: 50%;
    transform: translate(-50%, -10%);
    z-index: 0;
}

.circle-1 {
    width: 600px;
    height: 600px;
    background-color: #F0F6FF;
}

.circle-2 {
    width: 400px;
    height: 400px;
    background-color: #E3EEFF;
}

.sectionWhy{
    display: flex;
    background-color: #F2F7FF;
    position: relative;
}

.group-36{
    background-color: white;
    /* height: ; */
    width: 20%;
    position: absolute;
    top: -5%;
    border-radius: 10%;
    right: 22%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-section-why{
    margin: 10% 0 0 10%;
    max-width: 250px;
    max-height: 302px;
}

.feature{
    display: flex;
    justify-content: center;
    align-items: center;
}
.our-feature{
    margin: 10% 0 10% 0;
    display: grid;
    width: 60%;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); 
    row-gap: 5%; 
    column-gap: 5%; 
    
}
.our-feature-item{
    padding: 10%;
    /* width: %; */
    background-color: white;
    border-radius: 5%;
    word-wrap: break-word;
    hyphens: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



@media only screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .navbar {
        padding: 5px;
    }

    /* Add more styles for medium screens if needed */
}